@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.signup-bg {
    background-color: #120328;
 }

.signup-box{
    background: #0a0814; 
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.1);
    text-align: center;
    width: 500px;
    height: auto;
    padding: 30px;
    justify-content: center; 
    align-items: center;
    margin: 120px 550px;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #c2cc04; 
    background-image: linear-gradient(45deg, #c2cc04 52%, #54f2b2 21%, #87bdf6 72%, #7060dc 85%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
   
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 5px 10px;
  }
  

form {
    display: flex;
    flex-direction: column;
}

.field-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.field-container label {
    width: 100px;
    color: #9d9d9d;
    font-size: 14px;
}

label {
    font-size: 16px;
    font-weight: 500;
    color: #555;
  }

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #8e8e8e;
    background: transparent;
    border-radius: 6px;
    font-size: 14px;
    margin-top: 12px;
    color: #fbf8f8;
    font-family: "Poppins", serif;
    font-weight: 300;
    font-style: normal;
  }

  input:focus {
    border: 1px solid rgb(255, 254, 254);
}



.signup-btn{
    width: 100%;
    padding: 12px;
    background: #380168;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: 0.3s;
  }

.signup-btn:hover {
    background: #6703a5;
}


.username-display{
    margin-left: 20px;
    font-size: 15px;
    color: #fff;
}

.login-link {
    margin-top: 15px;
    font-size: 16px;
    text-align: center;
    color: #fff;
  }
  
  .login-link a {
    color: #9c17f5;
    text-decoration: none;
    font-weight: bold;
    margin-left: 6px;
  }
  
  .login-link a:hover {
    text-decoration: underline;
  }