
.signup-bg {
    background-color: #1e1e2f;
  }
  
.signup{
    justify-content: center;
    align-items: center;
    margin: 200px 600px;
    width: 400px;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    padding: 30px;
    background-color: #5a5757;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    color: #c2cc04; 
    background-image: linear-gradient(45deg, #c2cc04 52%, #54f2b2 21%, #87bdf6 72%, #7060dc 85%); 
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent; 
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.field-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.field-container label {
    width: 100px;
    color: #777;
    font-size: 14px;
}

input[type="text"], input[type="password"],input[type="email"] {
    font-size: 16px;
    padding: 10px;
    outline: none;
    border: 1px solid #ddd;
    border-radius: 4px;
    flex: 1;
}

button {
    font-size: 16px;
    padding: 10px;
    background: #007BFF;
    color: #fff;
    border: none;
    width: 100px;
    border-radius: 5px;
    transition: background 0.3s ease;
    cursor: pointer;
    margin-top: 10px;
   
}

button:hover {
    background: #0056b3;
}


.username-display{
    margin-left: 20px;
    font-size: 15px;
    color: #fff;
}